@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root{
    /* Primary Colors */
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);

    /* Neutral Colors */
    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);

    /* Font Sizes */
    --fluid-11-12: clamp(0.6875rem, 0.6658rem + 0.1087vw, 0.75rem);
    --fluid-13-14: clamp(0.8125rem, 0.7908rem + 0.1087vw, 0.875rem);
    --fluid-15-16: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
    --fluid-18-20: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}

body {
    display: grid;
    place-items: center;
    line-height: 1.5;
    min-height: 100dvh;
    font-size: var(--fluid-13-14);
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: var(--grey-100);
}

img{
   max-inline-size: 100%; /* Prevents images from overflowing their containers - max-width: 100% */
   block-size: auto; /* Maintains aspect ratio -  height: auto*/
   inline-size: 2.5rem; /* Maintains aspect ratio - width: auto*/
   object-fit: cover; /* Ensures images cover their containers */
   object-position: top center; /* Centers images within their containers */
   border-radius: 50rem; /* 6px for internationalization */
}

.wrapper {
    display: grid;
    max-inline-size: 1200px; /*max-width: 100% for internationalization approach*/
    padding: clamp(1.5rem, 1.5rem + 1.5vw, 2rem);
    gap: 1rem;
}


.attribution { 
    font-size: var(--fluid-11-12); 
}

.attribution a { color: inherit; }
a:hover{text-decoration: none; font-weight: 600;}

.cards{
    padding: clamp(1.5rem, 1.5rem + 0.5vw, 2rem);
    margin-block-start: clamp(1.5rem, 1.5rem + 0.5vw, 2rem); /* margin-top for internationalization */
    margin-block-end: clamp(-2rem, -2rem, -2rem); /* margin-bottom for internationalization */
    border-radius: 0.375rem; /* 6px for internationalization */
    box-shadow: 0 0.625rem 1.25rem -0.625rem var(--grey-400), var(--grey-500) 0 0.375rem 0.375rem -0375rem;
}

.hero-header{
   display: grid;
   grid-template-columns: auto 1fr;
   grid-template-rows: repeat(2, 1fr);
   grid-template-areas: 'sidebar header'
                        'sidebar main';
}

.hero-image{
   grid-area: sidebar;
   place-self: center start;
}

.name{
   grid-area: header;
   place-self: start;
   font-size: var(--fluid-15-16);
   font-weight: 500;
}
.tittle {
   grid-area: main;
   place-self: start;
} 
.name, .tittle {
    margin-inline-start:  clamp(0.5rem, 1rem + 0.2rem, 1.2rem); /* margin-left for internationalization */
}
.hero-card-1{
    background-color: var(--purple-500);
    color: var(--white);
}
.hero-card-1 .hero-header img{
    border: 2px solid var(--purple-300);
}
.hero-card-2 {
    background-color: var(--grey-500);
    color: var(--white);
}
.hero-card-3{
    background-color: var(--white);
}
.hero-card-4{
    background-color: var(--dark-blue);
    color: var(--white);
}
.hero-card-4 .hero-header img{
    border: 2px solid var(--purple-500);
}
.hero-card-5 {
    background-color: var(--white);    
}

.highlight{
  font-size: var(--fluid-18-20);
}

.highlight, .comments{
    margin-block-start: clamp(1rem, 1rem + 0.5vw, 1.5rem); /* margin-top for internationalization */
}
.comments{
   color: var(--grey-200);
}

.hero-card-1 .hero-header span {
    color: var(--purple-300);
}

.hero-card-2 .hero-header span {
    color: var(--grey-200);
}

.hero-card-3 .hero-header span {
    color: var(--grey-400);
}
.hero-card-3 .comments {
    color: var(--grey-400);
}

.hero-card-5 .comments {
    color: var(--grey-400);
}
.hero-card-5 .hero-header span {
    color: var(--grey-400);
}
.hero-card-3 .hero-header, .hero-card-5 .hero-header h2{
    color: var(--dark-blue);
}
.hero-card-3, .hero-card-5 h3{
    color: var(--grey-500);
}


/* ablet and desktop Layout 820px*/
@media screen and (min-width: 51.25em) { 
    .wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    .hero-card-1 {
        grid-row: 1;
        grid-column: 1 / 3;
    }
    .qoutmark{
        background-image: url('/public/images/bg-pattern-quotation.svg');
        background-repeat: no-repeat;
        background-position: top right;
    }
    .hero-card-2{
        grid-row: 1;
        grid-column: 3;
    }
    .hero-card-5 {
        grid-row: 1 / 3;
      grid-column: 4;
    }
    .hero-card-3 {
        grid-row: 2;
        grid-column: 1;
    }
    .hero-card-4 {
        grid-row: 2;
        grid-column: 2 / 4;
    }
}
